{% extends 'layout.html' %} {% load static %} {% block body %}
<script>
  if (localStorage.getItem("username") == null) {
    window.location.href = "/registration/login";
  }
  function handleLogout() {
    const username = localStorage.getItem("username");
    const formData = new FormData();
    formData.append("username", username);
    $.ajax({
      url: "/registration/logout",
      type: "POST",
      processData: false,
      contentType: false,
      data: formData,
      success: function (result) {
        if (result.message == "success") {
          localStorage.removeItem("username");
          window.location.href = "/registration/login";
        }
      },
    });
  }
</script>
<div class="d-flex p-2 bd-highlight mb-3 justify-content-end">
  <h3 id="username"></h3>
  <button class="btn btn-danger ml-3" onclick="handleLogout()">Log out</button>
</div>
<h2>Daftar Saham</h2>
<table class="table">
  <thead>
    <tr>
      <th>No</th>
      <th>Nama</th>
      <th>Jumlah</th>
      <th>Harga</th>
      <th></th>
    </tr>
  </thead>
  {% for stock in stocks %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ stock.name }}</td>
      <td>{{ stock.quantity }}</td>
      <td>{{ stock.price }}</td>
      <td><a href="#" class="btn btn-primary">Lihat Detail</a></td>
    </tr>
  {% endfor %}
  <tbody>

  </tbody>
</table>
<script>
  const username = localStorage.getItem("username");
  document.getElementById("username").innerHTML = "Hello, " + username + "!";
</script>
{% endblock %}
